.loader {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    filter: drop-shadow(3px 5px 2px #000);
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #00000085;
    height: 100%;
    width: 100%;
}
